<div class="header-products">
    <h3 class="title-table">Danh sách sản phẩm</h3>
    <div class="button-function">
        <a href="#">
            <button class="btn-delete deleteProduct disabled">Xóa</button>
        </a>
        <a href="/admin/product/insert">
            <button class="btn-insert">Thêm sản phẩm</button>
        </a>
         <a href="/admin/product/bin">
            <button class="btn-update">
                <i class="bi bi-trash"></i>
            </button>
        </a>
    </div>
    <table>
            <tr>
            <th><input type="checkbox" name="checkAll" ></th>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Tên danh mục</th>
            <th>Giá</th>
            <th>Mô tả</th>
            <th>Trạng thái</th>
            <th>Tồn kho</th>
            <th>Ảnh</th>
            <th></th>
            </tr>
                {{#each products}} 

                    <tr>
                        
                        <td> <input type="checkbox" idDatabase="{{this._id}}" name="itemCheck"> </td>
                        <td>{{sum @index 1}}</td>
                        <td>{{this.nameProduct}}</td>
                        <td>{{this.nameCategory}}</td>
                        <td>{{this.priceProduct}}</td>
                        <td>{{{this.descriptionProduct}}}</td>
                        <td>{{this.statusProduct}}</td>
                        <td>{{this.inventoryProduct}}</td>
                        <td>
                            <div class="image-product">
                                <img src="{{this.imageProduct}}" alt="ảnh sản phẩm">
                            </div>
                        </td>
                        <td>
                            <a href="/admin/product/update?id={{this._id}}">
                                <button class="btn-update">Sửa</button>
                            </a>
                        </td>
                    
                    </tr>
                    {{else}}
                    
                    <tr >
                        <td colspan="10">
                            chưa có sản phẩm nèo :(((( <a  href="/admin/product/insert">Thêm đê</a>
                        </td>


                    </tr>
                    
                
            {{/each}}

            
            
    </table>
</div>

{{!-- form delete --}}
<form id="deleteForm" method="post" action="">
  
</form>
        <script src="../js/databaseChangings.js"></script> 
 <script >
     databaseChangings('.header-products', 'product','.deleteProduct','delete')
 </script> 