<div class="header-categories">
    <h3 class="title-table">Danh sách danh mục sản phẩm</h3>
    <div class="button-function">
        <a href="#">
            <button class="btn-delete disabled">Xóa</button>
        </a>
        <a href="/admin/category/insert">
            <button class="btn-insert">Thêm Danh mục</button>
        </a>
    </div>
    <table>
            <tr>
            <th><input type="checkbox" name="checkAll" ></th>
            <th>STT</th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th>Danh sách sản phẩm</th>
            <th></th>
            </tr>
                {{#each categorys}} 

                    <tr>
                        
                        <td> <input type="checkbox" name="deleteCategory"> </td>
                        <td>{{sum @index 1}}</td>
                        <td>{{this.nameCategory}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.productChild}}</td>
                        <td>

                            <button class="btn-update">Sửa</button>
                        </td>
                    
                    </tr>
                    {{else}}
                    
                    <tr >
                        <td colspan="5">

                        chưa có danh mục nèo <a  href="/admin/category/insert">Thêm đê</a>
                        </td>


                    </tr>
                    
                
            {{/each}}

            
            
    </table>
</div>
