<table>
        <tr>
          <th>STT</th>
          <th>Tên</th>
          <th>Mô tả</th>
          <th>Danh sách sản phẩm</th>
          <th>Sửa / Xóa</th>
        </tr>
            {{#each categorys}} 

                <tr>
                    

                <td>{{sum @index 1}}</td>
                <td>{{this.nameCategory}}</td>
                <td>{{this.description}}</td>
                <td>{{this.productChild}}</td>
                <td>

                    <a  href="/admin/category/insert">Thêm đê</a>
                </td>
                
                </tr>
                {{else}}
                 
                <tr >
                    <td colspan="5">

                    chưa có danh mục nèo <a  href="/admin/category/insert">Thêm đê</a>
                    </td>


                </tr>
                  
            
         {{/each}}

        
        
      </table>
