<div class="header-categories">
    <h3 class="title-table">Danh sách danh mục sản phẩm</h3>
    <div class="button-function">
        <a href="#">
            <button class="btn-delete deleteCategory disabled">Xóa</button>
        </a>
        <a href="/admin/category/insert">
            <button class="btn-insert">Thêm Danh mục</button>
        </a>
        <a href="/admin/category/bin">
            <button class="btn-update">
                <i class="bi bi-trash"></i>
            </button>
        </a>
    </div>
    <table>
            <tr>  
            <th><input type="checkbox" name="checkAll" ></th>
            <th>STT</th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th>Danh sách sản phẩm</th>
            <th></th>
            </tr>
                {{#each categories}} 

                    <tr>
                        
                        <td> <input type="checkbox" name="itemCheck" idDatabase="{{this._id}}"> </td>
                        <td>{{sum @index 1}}</td>
                        <td>{{this.nameCategory}}</td>
                        <td>{{this.description}}</td>
                        {{#each this.productChild}}
                            <td>
                                {{this.nameProduct}}
                            </td>
                        {{else}}
                            <td>Chưa có sản phẩm</td>
                        {{/each}}
                        <td>

                            <button class="btn-update">Sửa</button>
                        </td>
                    
                    </tr>
                    {{else}}
                    
                    <tr >
                        <td colspan="6">

                        chưa có danh mục nèo <a  href="/admin/category/insert">Thêm đê</a>
                        </td>


                    </tr>
                    
                
            {{/each}}

            
            
    </table>
</div>

{{!-- form --}}
<form method="post" action="">
  
</form>
        <script src="../js/databaseChangings.js"></script> 
 <script >
     databaseChangings('.header-categories','category','.deleteCategory','delete')
 </script> 