<div class="header-products">
    <h3 class="title-table">Danh sách sản phẩm đã xóa</h3>
    <div class="button-function">
        <a href="#">
            <button class="btn-delete restoreProduct disabled">Khôi phục</button>
        </a>
        <a href="/admin/product">
            <button class="btn-update">
                <i class="bi bi-backspace"></i>
            </button>
        </a>
    </div>
    <table>
            <tr>
            <th><input type="checkbox" name="checkAll" ></th>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Tên danh mục</th>
            <th>Giá</th>
            <th>Mô tả</th>
            <th>Trạng thái</th>
            <th>Tồn kho</th>
            <th>Ảnh</th>
            </tr>
                {{#each productDeleted}} 

                    <tr>
                        
                        <td> <input type="checkbox" name="itemCheck" idDatabase="{{this._id}}"> </td>
                        <td>{{sum @index 1}}</td>
                        <td>{{this.nameProduct}}</td>
                        <td>{{this.nameCategory}}</td>
                        <td>{{this.priceProduct}}</td>
                        <td>{{this.descriptionProduct}}</td>
                        <td>{{this.statusProduct}}</td>
                        <td>{{this.inventoryProduct}}</td>
                        <td>
                            <div class="image-product">
                                <img src="{{this.imageProduct}}" alt="ảnh sản phẩm">
                            </div>
                        </td>
                    
                    </tr>
                    {{else}}
                    
                    <tr >
                        <td colspan="10">
                            chưa có sản phẩm nèo được xóa :(((( <a  href="/admin/product">Quay lại</a>
                        </td>


                    </tr>
                    
                
            {{/each}}

            
            
    </table>
</div>

{{!-- form restore --}}
<form id="restoreForm" method="post" action="">
  
</form>
        <script src="../js/databaseChangings.js"></script> 
 <script >
     databaseChangings('.header-products','product','.restoreProduct','patch')
 </script> 