        <div class="container">
            <!-- slide  -->
                <div class="body-slide">
                    <!--img slider start-->
                <div class="slider">
                    <div class="slides">
                        <!--radio button start-->
                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">
                        <div class="main-btnimg">
                            <i id="nextbtn" class="btn-img btn-img-right fas fa-chevron-right"></i>
                            <i id="prevbtn" class="btn-img btn-img-left fas fa-chevron-left"></i>
                        </div>
                        <!--radio button end-->
                        <!--slider image start-->
                        <div class="slide first">
                        <a href="#"><img src="./img/img-slide/slideshow_1.webp" alt="Sản phẩm nổi bật" title="Sản phẩm nổi bật"></a>
                        </div>
                        <div class="slide">
                            <a href="#"><img src="./img/img-slide/slideshow_2.webp" alt="Sản phẩm nổi bật" title="Sản phẩm nổi bật"></a>
                        </div>
                        <div class="slide">
                            <a href=""><img src="./img/img-slide/slideshow_3.webp" alt="Sản phẩm nổi bật" title="Sản phẩm nổi bật"></a>
                        </div>
                        
                        
                        <!--slider image end-->
                <!--automatic navigation start-->
                <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                </div>
                <!--automatic navigation end-->
                </div>
                <!--manual navigation start-->
                <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                </div>
                <!--manual navigation end-->
                </div>
                <!--img slider end-->
                </div>
            <!-- main body -->
            <div class="container__body">
                <!-- banner home -->
                <div class="body__banner-home">
                    <div class="body__banner-home-link">
                        <a href=""><img src="./img/img-banner-home/img_banner_home_1.jpg" ></a>
                    </div>
                    <div class="body__banner-home-link">
                        <a href=""><img src="./img/img-banner-home/img_banner_home_2.jpg" ></a>
                    </div>
                    <div class="body__banner-home-link">
                        <a href=""><img src="./img/img-banner-home/img_banner_home_3.jpg" ></a>
                    </div>
                </div>

                <!-- group title home -->

                <div class="body__group-title-home">
                    <a href="#"><h2>Sản phẩm mới</h2></a>
                    <p>Cập nhật những sản phẩm mới nhất</p>
                </div>

                <!-- body product list -->

                <div class="body__product-list">

                    {{#each products}}
                        <div class="body__product-list-content">
                            <div class="product-list-content-img">
                                <a href="/detail?id={{this._id}}"><img src="{{this.imageProduct}}" alt="{{this.nameProduct}}" title="{{this.nameProduct}}"></a>
                            </div>
                            <div class="product-list-content-text">
                                <a href="#"><p>{{this.nameProduct}}</p></a>
                                <p>{{number this.priceProduct}}₫</p>
                            </div>
                        </div>
                    {{/each}}              

                </div>

                <!-- body banner home 2 -->

                <div class="body__banner-center">
                    <div class="body__banner-center-imgview">
                        <div class="body__banner-center-imgview-left body__banner-center-img">
                            <div class="body__banner-center-img-top">
                                <img src="./img/img-banner-home2/img_banner_center_1.jpg" alt="Phòng khách" title="Phòng khách">
                            </div>
                            <div class="body__banner-center-img-bot">
                                <img src="./img/img-banner-home2/img_banner_center_2.jpg" alt="Phòng tắm" title="Phòng tắm">
                            </div>
                        </div>
                        <div class="body__banner-center-imgview-right body__banner-center-img">
                            <img src="./img/img-banner-home2/img_banner_center_3.jpg" alt="Nhà bếp" title="Nhà bếp">
                        </div>
                    </div>

                    <div class="body__banner-collectioni4">
                        <div class="body__banner-collection-img">
                            <a href=""><img src="./img/img-collection-i4/img_collection_info_1.jpg" alt=""></a>
                            <div class="collection-group">
                                <a href=""><h4>Trang trí</h4></a>
                                <p>11 sản phẩm</p>
                            </div>
                        </div>
                        
                        <div class="body__banner-collection-img">
                            <a href=""><img src="./img/img-collection-i4/img_collection_info_2.jpg" alt=""></a>
                            <div class="collection-group">
                                <a href=""><h4>Trang trí</h4></a>
                                <p>11 sản phẩm</p>
                            </div>
                        </div>
                        <div class="body__banner-collection-img">
                            <a href=""><img src="./img/img-collection-i4/img_collection_info_3.jpg" alt=""></a>
                            <div class="collection-group">
                                <a href=""><h4>Trang trí</h4></a>
                                <p>9 sản phẩm</p>
                            </div>
                        </div>
                        <div class="body__banner-collection-img">
                            <a href=""><img src="./img/img-collection-i4/img_collection_info_4.jpg" alt=""></a>
                            <div class="collection-group">
                                <a href=""><h4>Trang trí</h4></a>
                                <p>11 sản phẩm</p>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- group title home -->

                 <div class="body__group-title-home">
                    <a href="#"><h2>Sản phẩm khuyến mãi</h2></a>
                    <p>Ưu đãi lên đến 50%</p>
                </div>

                <!-- collection product 2 -->
                <div class="body__collection-slide">
                    <div class="body__collect-content">
                        <div class="body__collect-img">
                            <a href="#"><img src="./img/img-products/amtrainoxkhongghi.webp" alt="" width="80px" height="98px"></a>
                        </div>
                        <div class="body__collect-i4">
                            <a href="#">
                                <p>Ấm trà inox không ghỉ</p>
                            </a>
                                <p>890,000đ</p>
                        </div>
                    </div>

                    <div class="body__collect-content">
                        <div class="body__collect-img">
                            <a href="#"><img src="./img/img-products/dentreosangtronghubert.webp" alt="" width="80px" height="98px"></a>
                        </div>
                        <div class="body__collect-i4">
                            <a href="#">
                                <p>Đèn treo sang trọng Hubert</p>
                            </a>
                                <p>1,200,000₫</p>
                        </div>
                    </div>

                    <div class="body__collect-content">
                        <div class="body__collect-img">
                            <a href="#"><img src="./img/img-products/ghetualungphongkhachs004.webp" alt="" width="80px" height="98px"></a>
                        </div>
                        <div class="body__collect-i4">
                            <a href="#">
                                <p>Ghế tựa lưng phòng khách S004</p>
                            </a>
                                <p>2,400,000₫</p>
                        </div>
                    </div>

                    <div class="body__collect-content">
                        <div class="body__collect-img">
                            <a href="#"><img src="./img/img-products/ghesofagiuongkeoroots.webp" alt="" width="80px" height="98px"></a>
                        </div>
                        <div class="body__collect-i4">
                            <a href="#">
                                <p>Ghế sofa giường kéo Roots</p>
                            </a>
                                <p>7,200,000₫</p>
                        </div>
                    </div>

                    <div class="body__collect-content">
                        <div class="body__collect-img">
                            <a href="#"><img src="./img/img-products/loabluetoothb&obeoplay.webp" alt="" width="80px" height="98px"></a>
                        </div>
                        <div class="body__collect-i4">
                            <a href="#">
                                <p>Loa Bluetooth B&O Beoplay</p>
                            </a>
                                <p>4,550,000₫</p>
                        </div>
                    </div>

                    <div class="body__collect-content">
                        <div class="body__collect-img">
                            <a href="#"><img src="./img/img-products/banxepgonnhetb01.webp" alt="" width="80px" height="98px"></a>
                        </div>
                        <div class="body__collect-i4">
                            <a href="#">
                                <p>Bàn xếp gọn nhẹ TB01</p>
                            </a>
                                <p>1,300,000₫</p>
                        </div>
                    </div>

                    <div class="body__collect-content">
                        <div class="body__collect-img">
                            <a href="#"><img src="./img/img-products/ghegobapbenhiconic.webp" alt="" width="80px" height="98px"></a>
                        </div>
                        <div class="body__collect-i4">
                            <a href="#">
                                <p>Ghế gỗ bập bênh Iconic</p>
                            </a>
                                <p>700,000₫</p>
                        </div>
                    </div>

                    <div class="body__collect-content">
                        <div class="body__collect-img">
                            <a href="#"><img src="./img/img-products/ghesofaphongkhachs003.webp" alt="" width="80px" height="98px"></a>
                        </div>
                        <div class="body__collect-i4">
                            <a href="#">
                                <p>Ghế Sofa phòng khách S003</p>
                            </a>
                                <p>6,800,000₫</p>
                        </div>
                    </div>

                    <div class="body__collect-content">
                        <div class="body__collect-img">
                            <a href="#"><img src="./img/img-products/thanggonhobut001.webp" alt="" width="80px" height="98px"></a>
                        </div>
                        <div class="body__collect-i4">
                            <a href="#">
                                <p>Thang gỗ nhỏ But001</p>
                            </a>
                                <p>650,000₫</p>
                        </div>
                    </div>

                    <div class="body__collect-content">
                        <div class="body__collect-img">
                            <a href="#"><img src="./img/img-products/dendebangonnhepetite.webp" alt="" width="80px" height="98px"></a>
                        </div>
                        <div class="body__collect-i4">
                            <a href="#">
                                <p>Đèn để bàn gọn nhẹ Petite</p>
                            </a>
                                <p>690,000₫</p>
                        </div>
                    </div>

                    <div class="body__collect-content">
                        <div class="body__collect-img">
                            <a href="#"><img src="./img/img-products/ghephongkhacharctander.webp" alt="" width="80px" height="98px"></a>
                        </div>
                        <div class="body__collect-i4">
                            <a href="#">
                                <p>Ghế phòng khách Arctander</p>
                            </a>
                                <p>799,000₫</p>
                        </div>
                    </div>
                    
                </div>

                <!-- group title home -->

                <div class="body__group-title-home">
                    <a href="#"><h2>Tin tức</h2></a>
                    <p>Cập nhật tin tức mới nhất!</p>
                </div>

                <!-- tip news home-->

                <div class="body__news">
                    <div class="body__news-content">
                        <div class="body__news-content-img">
                            <img src="./img/img-collection-i4/blog101.jpg" alt="">
                        </div>
                        <div class="body__news-content-i4">
                            <h3>MUA SOFA GIƯỜNG MANG CẢ THIÊN ĐƯỜNG ĐẾN NHỮNG CĂN HỘ NHỎ</h3>
                            <a href="#">Xem thêm</a>
                        </div>
                    </div>

                    <div class="body__news-content">
                        <div class="body__news-content-img">
                            <img src="./img/img-collection-i4/blog3.jpg" alt="">
                        </div>
                        <div class="body__news-content-i4">
                            <h3>NHỮNG ĐIỀU CẦN BIẾT ĐỂ LỰA CHỌN BỘ BÀN ĂN PHÙ HỢP VỚI NGÔI NHÀ BẠN</h3>
                            <a href="#">Xem thêm</a>
                        </div>
                    </div>

                    <div class="body__news-content">
                        <div class="body__news-content-img">
                            <img src="./img/img-collection-i4/blog02.jpg" alt="">
                        </div>
                        <div class="body__news-content-i4">
                            <h3>THIẾT KẾ NỘI THẤT CHUNG CƯ ĐẸP CHO ĐÔI VỢ CHỒNG TRẺ</h3>
                            <a href="#">Xem thêm</a>
                        </div>
                    </div>

                </div>

                <!-- group title home -->

                <div class=" body__group-title-home">
                    <a href="#"><h4 style="margin-bottom: 2rem;">HÃY LIÊN HỆ VỚI CHÚNG TÔI!</h4></a>
                    <p>Luôn sẵn sáng hỗ trợ và tư vấn cho bạn để có sản phẩm tốt nhất.</p>
                    <div class="input-email">
                        <input type="email" placeholder="Nhập email của bạn">
                        <button type="submit">GỬI</button>
                    </div>
                </div>
            </div>

            <hr>
        </div>